<table cellpadding="0" cellspacing="0" border="0"
       style="background-color: navy;
       border: 0px solid blueviolet;
       border-radius: 5px;">
    <tr>
        <td style="background-color: deepskyblue; padding: 5px 10px; border-bottom: 1px solid blue;
                   font-family: Helvetica, Arial, sans-serif; font-size: 11px; line-height: 1.231;">
            <a href="http://93.189.42.2/" style="color: white; font-weight: bold; text-decoration:none">HomeWork</a>
        </td>
    </tr>
    <tr>
        <td style="background-color: white; padding: 1em; color: indigo; font-family: Helvetica, Arial, sans-serif; font-size: 13px; line-height: 1.231;">
            <p style="margin-top: 0;">
                Здравствуйте, %s!  <br>Для завершения регистрации на сайте
                "<a href="http://93.189.42.2/" style="color: blueviolet; text-decoration: none; font-weight: bold;">HomeWork</a>",
                перейдите по ссылке ниже чтобы подтвердить свой email.
            </p>
            <h2 style="font-size: 14pt; font-weight: normal; margin: 10px 0 4px">
                <a href="http://hwvm.ru/users/emailConfirmation?token=%s" style="color: blueviolet; font-weight: bold; text-decoration: none">
                    Подтвердить учётную запись
                </a>
            </h2>
            <div style="color: blueviolet; font-size: 11px; margin:  4px 0 15px">
                <a href="http://hwvm.ru/users/emailConfirmation?token=%s"
                   style="color: blueviolet; text-decoration: none">
                    http://93.189.42.2/users/confirmation?token=%s
                </a>
            </div>
            <p style="margin-bottom: 15px;">Спасибо за регистрацию.</p>
            <hr>
            <p style="margin: 0; padding: 0; font-size: 10px;">
                 Ваш адрес был указан при регистрации на сайте, если это письмо попало к вам по ошибке просто удалите его.
            </p>
        </td>
    </tr>
    <tr>
        <td style="background-color: lightseagreen; padding: 5px 10px;
        border-top: 1px solid green;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif; font-size: 11px;line-height: 1.231;">
            <a href="http://93.189.42.2/" style="color: white; font-weight: bold; text-decoration: none">http://93.189.42.2/</a>
        </td>
    </tr>
</table>
